html,
body {
  width: 100vw;
  background-color: #111;
}
* {
  color: white;
  box-sizing: border-box;
}
header {
  width: 100vw;
  padding: 2.5rem;
  text-align: center;
}
#search-bar {
  width: 100vw;
  padding: 2.5rem;

  display: flex;
  justify-content: center;
  align-items: center;
}
main,
#movies-wrapper {
  width: 100vw;
}
#movies-wrapper {
  padding: 2.5rem;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

/* ======== header ===========*/
/* ======== search-bar ===========*/
/* ======== main ===========*/
.movie-item {
  border: 1px solid red;
  border-radius: 1rem;
  padding: 2.5rem;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 1rem;

  cursor: pointer;
}
.movie-item .movie-img {
  object-fit: contain;
  width: 250px;
}

.movie-item .movie-heading {
  font-size: 1.5rem;
  text-align: center;
}
.movie-item .movie-desc {
  flex: 1;
}

.movie-item .other-info-list {
  display: flex;
  align-self: stretch;
}
.movie-item .other-info-list .title {
  margin-right: 0.5rem;
}
